:root{
  --mainBlue:#3039ff;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

#backgroundImage {
  width: inherit;
}

body {
  background: var(--mainWhite) !important;
  font-family: 'Lato', sans-serif !important;
}

.navbar-brand {
  font-family: 'Gochi Hand', cursive !important;
  font-size: x-large;
}

@media all and (min-width: 439px) {
  .carousel-caption {
    right: 0;
    bottom: 0;
    left: 0;
  }
}
