:root{
  --mainBlue:#3039ff;
  --lightBlue:#00ffff;
  --mainWhite:#f3f3f3;
  --mainDark:#181818;
  --mainYellow:#ffa400;
}

#nav {
  border-width: 0 0 0.30rem 0;
  border-style: solid;
  border-image: linear-gradient(to right,#f05a28,#e80a89);
  border-image-slice: 1;
}

body {
  background: var(--mainWhite) !important;
  font-family: 'Lato', sans-serif !important;
}

.navbar-brand {
  font-family: 'Gochi Hand', cursive !important;
  font-size: x-large;
}

a {
  text-decoration: none;
  color: var(--mainWhite)!important;
}
