:root{
  --mainBlue:#3039ff;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

/*#backgroundImage {
  width: inherit;
}*/

#nav {
  border-width: 0 0 0.14285714285714285rem 0;
  border-style: solid;
  border-image: linear-gradient(to right,#f05a28,#e80a89);
  border-image-slice: 1;
}

body {
  background: var(--mainWhite) !important;
  font-family: 'Lato', sans-serif !important;
}

.navbar-brand {
  font-family: 'Gochi Hand', cursive !important;
  font-size: x-large;
}
